.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 4;
  padding: 0.2rem 0;
  background-color: var(--black);
}

.navContainer {
  margin: 0.5rem 5%;
  display: flex;
  flex-direction: row;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 20;
  color: var(--brand-orange);
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
