.scroll {
  background-color: var(--brand-orange);
  animation: changeColor 0.5s;
}

@keyframes changeColor {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: var(--brand-orange);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 100;
}

.navContainer {
  margin: 1rem 5%;
  display: flex;
  flex-direction: row;
}

.navItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 20;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
