.card {
  border: 1px solid var(--fb-border);
  border-radius: 3px;
  box-shadow: none;
  background-color: #ffffff;
  width: 40%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 12px 16px 0 12px;
}

.logo {
  margin-right: 8px;
}

.logo > img {
  border: 1px solid var(--fb-border);
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0;
  overflow: hidden;
}

.company {
  flex-grow: 1;
  overflow: hidden;
}

.sponsored {
  align-items: center;
  color: var(--fb-secondary-text);
  display: flex;
  gap: 0.25rem;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2308;
  margin-bottom: 5px;
  margin-top: 0;
  word-break: break-word;
}

.sponsored > svg {
  height: 13px;
  width: 13px;
  color: var(--fb-secondary-text);
}

.ellipsis {
  align-self: start;
  display: flex;
  padding: 8px;
}

.ellipsis > svg {
  color: var(--fb-secondary-text);
}

.cta {
  padding: 4px 16px 16px;
}

.preview {
  align-items: center;
  background-color: var(--fb-preview);
  border-bottom: 1px solid var(--fb-border);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 12px 16px;
  position: relative;
}

.content {
  flex: 1;
  padding: 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.displayLink {
  color: var(--fb-secondary-text);
  display: inline-block;
  font-size: 13px;
  line-height: 1.2308;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.description {
  color: var(--fb-secondary-text);
  display: block;
  font-weight: 400;
  line-height: 1.3333;
  margin: -4px 0 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  word-break: break-word;
}

.adBtn {
  cursor: pointer;
  color: var(--black);
  background-color: var(--fb-btn);
  border-radius: 6px;
  flex-wrap: nowrap;
  font-weight: 600;
  padding: 0 12px;
  height: 36px;
  text-align: start;
  transition: 0.25s;
  font-size: 15px;
}

.adBtn:hover {
  background-color: var(--fb-btn-hover);
}

.actions {
  align-items: center;
  color: var(--fb-main-text);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 13px;
  order: 1;
  padding: 6px 14px;
}

.fbBtn {
  align-items: center;
  background-color: unset;
  gap: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex: 1 100%;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  padding: 0 2px;
  color: var(--fb-main-text);
}

@media (width < 768px) {
  .headliner {
    font-size: 0.9rem;
  }
  .description {
    font-size: 0.7rem;
  }
  .adBtn {
    font-size: 12px;
    padding: 0 8px;
  }
}
