@import url("defaults.css");

:root {
  --white: #fafffc;
  --black: #0e161e;
  --modal: rgba(16, 16, 17, 0.9);
  --brand-orange: #deb76a;
  --brand-blue: #646cff;
  --brand-blue-hover: #4b51c0;

  --error-notification: #ff4949;
  --success-notification: #2ba22b;

  --fb-border: #dddfe2;
  --fb-main-text: #616770;
  --fb-secondary-text: #65676b;
  --fb-preview: #f0f2f5;
  --fb-btn: #e4e6eb;
  --fb-btn-hover: #88898b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#layout {
  width: 80%;
  margin: 25vh auto 2rem auto;
}

.page {
  padding-bottom: 1rem;
}

a {
  font-weight: 500;
  color: var(--black);
  text-decoration: inherit;
}
a:hover {
  transform: scale(1.02);
}

body {
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#error-page {
  margin: 20vh 4rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

.col {
  flex: 0 0 auto;
  width: 33.333%;
  padding: 1rem 0.75rem 0 0.75rem;
}

@media (max-width: 768px) {
  .col {
    width: 50%;
  }
}

@media (max-width: 599px) {
  .col {
    width: 100%;
  }
}

.errorText {
  color: var(--error-notification);
}
